::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.loading::after {
    content: '...';
    animation: loading 2s infinite;
    display: inline-block;
}

@keyframes loading {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(52, 53, 65);
    margin: 0;
    padding: 0;
}

button:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    transition: all 0.2s;
    cursor: pointer;
}

.title {
    font-size: 3vh;
    line-height: 1.5;
    color: white;
}

@media (max-width: 1000px) and (min-height: 800px) {
    .title {
        display: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-width: 800px;
    min-height: 50%;
    max-height: 80%;
    border: 1px solid #ccc;
    background-color: #e6eaf2;
    padding: 1vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

@media (max-width: 1000px) and (min-height: 800px) {
    .content {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        min-width: unset;
        max-height: none;
        border: none;
        box-shadow: none;
        border-radius: 0;
        font-size: 4vw;
        padding: 1.5vw;
    }
}

#chatBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: none;
    overflow-y: auto;
    padding: 0px 10px 10px 10px;
}

#chatBox > div {
    width: fit-content;
    max-width: 95%;
    display: inline-block;
    padding: 1vh;
    margin: 0.5vh 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
}

@media (max-width: 1000px) and (min-height: 800px) {
    #chatBox > div {
        padding: 1.5vw;
        margin: 1vw 0;
    }
}

#chatBox > div:nth-child(odd) {
    background-color: #483D8B;
    color: #f8f8ff;
    align-self: flex-start;
}

#chatBox > div:nth-child(even) {
    background-color: #20B2AA;
    color: #f8f8ff;
    align-self: flex-end;
}

#chatBox > div code {
    color: #f8f8ff;
    background-color: #2b2b2b;
    border-radius: 3px;
    box-shadow: 2px 2px 5px black;
    overflow: auto;
    margin: 5px;
    font-size: larger;
}

#chatBox > div p {
    margin: 0px;
}

#chatBox > div ul {
    margin: 0px;
}

#chatBox > div pre {
    position: relative;
    line-height: 2vh;
    color: #f8f8ff;
    background-color: #2b2b2b;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
    overflow: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 1000px) and (min-height: 800px) {
    #chatBox > div pre {
        line-height: 4vw;
        font-size: small;
    }
}

#chatBox > div pre code {
    background-color: unset;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    overflow-y: clip;
}

#chatBox > div a {
    display: inline-flex;
    color: #98d7cf;
    max-height: 300px;
    max-width: 100%;
    overflow: auto;
    margin: 0 5px;
    cursor: pointer;
}

#chatBox > div a:hover {
    color: #18c8e7;
}

div .copy-button {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #20B2AA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1000px) and (min-height: 800px) {
    div .copy-button {
        height: 6vw;
        width: 11vw;
        white-space: nowrap;
    }
}

#chatBox > #stopBtn {
    display: none;
    position: relative;
    bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 1vh;
    margin: 0 1vh 0 0;
    width: fit-content;
    height: fit-content;
}

.toolBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.toolBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vh;
    height: 4vh;
    border: 1px solid #ccc;
    border-radius: 1vh;
    margin: 0 1vh 0 0;
}

@media (max-width: 1000px) and (min-height: 800px) {
    .toolBox button {
        width: 10vw;
        height: 10vw;
        margin: 0 2vw 0 0;
        padding: 0 1.5vw;
        border-radius: 2vw;
    }
}

#settingBox {
    display: none;
    position: absolute;
    width: fit-content;
    min-width: 30vw;
    max-width: 50vw;
    max-height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: #2b2b2b;
    padding: 10px 0 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

@media (max-width: 1000px) and (min-height: 800px) {
    #settingBox {
        width: 100vw;
        height: 100vh;
        max-width: unset;
        max-height: unset;
        padding: unset;
    }
}

#settingBox > div {
    overflow-y: auto;
    height: fit-content;
    max-height: 50vh;
    width: 100%;
    flex-direction: column;
}

@media (max-width: 1000px) and (min-height: 800px) {
    #settingBox > div {
        width: 100vw;
        height: 100vh;
        padding: 0 3vw;
    }
}

@media (max-width: 1000px) and (min-height: 800px) {
    #settingBox > div > div {
        padding-bottom: 3vw;
    }
}

#settingBox p {
    margin: 0 0 0 3vh;
    font-size: 0.75em;
    color: #ccc;
}

@media (max-width: 1000px) and (min-height: 800px) {
    #settingBox p {
        margin: 0 0 0 6vw;
    }
}

@media (max-width: 1000px) and (min-height: 800px) {
    #settingBox input {
        margin: 0 0 0 3vw;
        height: 3vw;
    }
}

#gpt4Code {
    width: 40%;
}

@media (max-width: 1000px) and (min-height: 800px) {
    #gpt4Code {
        width: 30vw !important;
    }
}

#pluginList {
    display: none;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (max-width: 1000px) and (min-height: 800px) {
    #closeBtn {
        top: 4vw;
        right: 4vw;
    }
}

.inputBox {
    display: flex;
    flex-direction: row;
    height: 14vh;
    width: -webkit-fill-available;
    border: 1px solid #ccc;
    border-width: 1px 0 0 0;
    padding: 10px;
    resize: none;
    outline: none;
}

@media (max-width: 1000px) and (min-height: 800px) {
    .inputBox {
        height: 25vw;
    }
}

.inputBox textarea {
    width: inherit;
    border: none;
    background-color: unset;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    resize: none;
    outline: none;
    border: none;
    font-size: 1em;
}

.inputBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    background-color: #009688;
    border: none;
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

@media (max-width: 1000px) and (min-height: 800px) {
    .inputBox button {
        width: 10vw;
        height: 10vw;
    }
}

pre code.hljs {
    padding: 0 !important;
}